body {
  background-color : #FFF;
}

#value_message {
  font-size: 5em;
  line-height: 1.5em;
  text-align: center;
  margin-top: 20%;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

@keyframes fadein{
  from {opacity:0;}
  to {opacity:1;}
}

@-webkit-keyframes fadein{
  from {opacity:0;}
  to {opacity:1;}
}

#body {
  min-height: 100vh;
  width: 100%;
}

#blog_link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
